.single {
  width: var(--base-size-16);
}

.double {
  width: calc(var(--base-size-32) + var(--base-size-1));
}

.conform {
  width: 100%;
}

.wrapper {
  font-size: var(--base-size-2);
  min-height: var(--base-size-2);
  color: rgb(66, 66, 66);
  padding: 0 0 0 1px;
}
