@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --base-size-0: 0.2rem;
    --base-size-1: 0.4rem;
    --base-size-2: 0.8rem;
    --base-size-3: 0.16rem;
    --base-size-4: 3.2rem;
    --base-size-8: 6.4rem;
    --base-size-16: 12.8rem;
    --base-size-32: 25.6rem;

    --theme-color-primary: #eaeaea;
    --theme-color-primary-foreground: #6b6b6b;
    --theme-color-secondary: #000000;
    --theme-color-secondary-foreground: #ffffff;
    --theme-color-destructive: #ebaca6;
    --theme-color-destructive-foreground: #600000;
    --theme-color-approval: #a5f5a8;
    --theme-color-approval-foreground: #094a0b;
    --theme-color-accent: #eee7b7;
    --theme-color-accent-foreground: #000000;

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  .dark {
  }
}
